<nav>
  <a href="/">Little Shop</a>
  <a href="/merchants">Merchants</a>
  <a href="/items">Items</a>
  <a href="/invoices">Invoices</a>
</nav>
<form action="/invoices/<%= @invoice.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="invoice[status]" value=" <%= @invoice.status %>">
  <input type="submit" value="Update Invoice">
</form>
<form action="/invoices/<%= @invoice.id %>" method="GET">
  <input type="submit" value="Cancel">
</form>
