<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Merchant</title>
    <link rel="stylesheet" href="/merchants/nav-bar.css" type="text/css">
    <link rel="stylesheet" href="/merchants/edit-new.css" type="text/css">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="left"><a href="/">Little Shop</a></div>
      <div class="repositories">
        <a href="/merchants">Merchants</a>
        <a href="/items">Items</a>
        <a href="/invoices">Invoices</a>
      </div>
    </nav>
    <header class="header">
      <h1 class="header-title">Edit <%= @merchant.name %></h1>
    </header>
    <section class="middle-part">
        <article class="create-box">
          <form action="/merchants/<%= @merchant.id %>" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <div class="name-box">
              <div class="space-above">Name</div>
              <input class="text-box" type="text" name="merchant[name]" value="<%= @merchant.name %>">
            </div>
            <div class="button-box">
              <a href="/merchants/<%= @merchant.id %>"><button class="cancel">Cancel</button></a>
              <input type="submit" value="Update Merchant" class="button">
            </div>
          </form>
        </article>
    </section>
  </body>
</html>
