<html>
  <head>
    <title>New Item</title>
  </head>
  <body>
    <form action="/items" method="post">
      <input type="text" name="item[title]">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
