<html>
  <head>
    <title>New Item</title>
  </head>
  <body>
    <nav>
      <a href="/">Little Shop</a>
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </nav>
    <h1>Create New Item</h1>
    <form action="/items" method="post">
      <p>merchant:</p>
      <input type="text" name="merchant[name]"/>
      <p>title:</p>
      <input type="text" name="item[title]">
      <p>description:</p>
      <textarea name="item[description]"></textarea>
      <p>price:</p>
      <input type="text" name="item[price]">
      <p>image:</p>
      <input type="url" name="item[image]"/><br>
      <input type="submit" value="Create Item">
    </form>
  </body>
</html>
