
.header {
  background-color: #b5e5d5;
  height: 180px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-title {
  font-size: 70px;
  height: 80%;
  margin: 0;
}


.form-box {
  width: 25%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form {
  height: 100%;
}

button {
  width: 150px;
  height: 100%;
  font-size: 20px;
  background-color: #d1bf38;
  border: 2px solid black;
}

.no-underline {
  text-decoration: none;
  color: black;
}

.yellow-button {
  width: 150px;
  height: 90%;
  text-decoration: none;
  font-size: 20px;
  background-color: #d1bf38;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #ba3232;
  font-size: 20px;
  width: 150px;
  height: 100%;
  border: 2px solid black;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-box {
  border: 2px solid black;
  background-color: #b5e5d5;
  height: 400px;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-link {
  padding-left: 10px;
  padding-right: 10px;
}

.picture {
  width: 100%;
}

.object-box {
  width: 80%;
  height: 60px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between;
  background-color: #e3f4f7;
}

.small-box {
  width: 15%;
  display: flex;
  align-items: center;
}

.large-box {
  width: 65%;
  display: flex;
  align-items: center;
}

.gray {
  background-color: gray;
}

.large-text {
  font-size: 30px;
}

.title-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.titley-box {
  width: 20%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.linky-box {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 70px;

}

.white {
  background-color: white;
}

.lefty-box {
  height: 700px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: #b5e5d5;
  margin-left: 40px;
}

.righty-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.middle-part {
  display: flex;
  margin-top: 30px;
}

.stretch-photo {
  width: 95%;
}

.name-big {
  font-size: 40px;
  margin-bottom: 40px;
}

.item-title {
  width: 90%;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  background-color: gray;
  border: 2px solid black;
}

.item-desc {
  width: 90%;
  height: 400px;
  font-size: 15px;
  border: 2px solid black;
  background-color: #b5e5d5;
}

.big-font {
  font-size: 40px;
}
