<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>LittleShop</title>
  <link rel="stylesheet" href="/nav-bar.css" type="text/css">
</head>
<body id="home-body">
  <nav id="home-nav" class="nav-bar">
    <div class="left"><a href="/">Little Shop</a></div>
    <div class="repositories">
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </div>
  </nav>
  <section class="main-image-container">
    <img class="main-image" src="https://www.jamesfortune.co.uk/wp-content/uploads/2018/04/cropped-Little-Shop-Of-Horrors-Logo.png" alt="">
  </section>
</html>
