<html>
  <head>
    <title>New Merchant</title>
  </head>
  <body>
    <form action="/merchants" method="post">
      <input type="text" name="merchant[name]">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
